.vscode/**
src/**
out/**
node_modules/**
esbuild.mjs
tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
.gitignore
.github/**
CONTRIBUTING.md
.editorconfig
tsconfig.test.json
.vscode-test.mjs
.vscode-test/
